hb{color:blue;font-size:14px}
time {font-size: 20px}
zag {align = center ;font-size: 26px}
pic {align = center ;font-size: 20px}
jir {font-size: 23px}
prim {color:red;align = center ;font-size: 26px color:red;}