<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Ой!</h1>
                <h2>
                    401 Unauthorized Error («отказ в доступе»)</h2>
                <div class="error-details">
                    Появление сообщения об ошибке, означает неверную авторизацию или аутентификацию пользователя на стороне сервера при обращении к определенному url-адресу.
                </div>
                <div class="error-actions">
                    <a href="/index" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Вернуться на начальную страницу </a>
                </div>
            </div>
        </div>
    </div>
</div>
	<script type="text/javascript">
		</script>
</body>
</html>